.close {    
    outline-width: 0px !important;
}

.submit-btn {
    background-color: #6B35F3;
    border: none;
    cursor: pointer;

    color: white;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;

    width: 100%;

    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;

    outline: none !important;
}

.submit-btn:disabled {
    background-color: #6B35F3;

    opacity: 0.5;
}

/* Custom boot changes */
.nav-cust-link {
    display: block;
    padding-left: 2rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.interview-dot {
    height: 8px;
    width: 8px;
    background-color: #94A6B1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.nav-link-colour {
    color: #94A6B1 !important;
}

.nav-link-colour:hover {
    color: #6B35F3 !important;
    text-decoration: none;
}

.input-bar {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4B5D6C;

    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;

    margin-top: 35px;
    margin-bottom: 35px;
}
.input-bar::placeholder {
    color: #4B5D6C !important;
    opacity: 1;
}
.input-bar:focus {
    outline-width: 0px;
}

@media (max-width: 992px) {
    .nav-cust-link {
        padding-left: 0rem !important;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding-left: 150px !important;
        padding-right: 150px !important;
    }
}